name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python deps
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          pip install pylint

      - name: Lint Bash
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: scripts/python

      - name: Lint Python
        run: |
          source venv/bin/activate
          pylint ./scripts/python/network-scanner.py || true

      - name: Build Docker
        run: docker compose build